<!DOCTYPE html>
<html>
<style>
body 
{
	background-color: cyan;
	padding: 5em;
	text-align: center;
  	color: blue;
	
}
p
{
	font-style: bold;
	font-size: 1.2em;
}
h1 
{
	text-align: center;
  	color: green;
  	font-size: 2.5em;
}
</style>
<head>
	<title>YouTube Downloader</title>
</head>
<body>
	<h1>YouTube Downloader</h1>
	<p>Enter the link of video to be download:</p>
	<form name="link" method="POST">
		<input type="text" name="Link" placeholder="Link">
		<input type="submit" name="submit" placeholder="Submit">
	</form>
</body>
</html>