<!DOCTYPE html>
<html>
<style type="text/css">
textarea
{
	position: inherit;
}h1{
	text-align: center;
	color: crimson;
	font-size: 2em;
}
body{
	background-color: burlywood;
	text-align: center;
	font-size: 1.2em;
}
#block{
	display: inline-block;
  background-color: lightgrey;
  width: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
p{
	color: red;
	font-size: 1.3em;
	font-style: bold;

}
button{
	font-size: 0.7em;
}
li{
	color: orangered;
	text-align: center;
}
a{
	font-size: 0.6em;
}
</style>
<head>
	<title>Complain</title>
</head>
<body>
	<h1>Complain System</h1>
	<p>Your Complain is Filling!!!!</p>
	<p>Please Wait!</p>
</body>
</html>