<!DOCTYPE html>
<html>
<style type="text/css">
h1{
	text-align: center;
	color: crimson;
	font-size: 2em;
}
body{
	background-color: burlywood;
	text-align: center;
	font-size: 1.2em;
}
#block{
	display: inline-block;
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
p{
	color: red;
	font-size: 1.3em;
	font-style: bold;

}
li{
	color: orangered;
	text-align: center;
}
a{
	font-size: 0.6em;
}
</style>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Form</title>
</head>
<body>
	<h1>Form</h1>	
	<div id = "block">
		<div id = "login">
			<p>Enter your Information</p>
			<form method="POST">
				<ul>
					<li>Email   :  <input type="email" name="email"></li>
					<li>Password    :  <input type="password" name="password">	</li>
					<input type="submit" name="submit">
				</ul>
			</form>
		</div>
		<button onclick="window.location.href = 'http://localhost:5000/home';">Sign In / Log In</button>
	</div>
</body>
</html>