<!DOCTYPE html>
<html>
<head>
	<title>Map</title>
	<meta charset="utf-8">
	</script>
</head>
<style type="text/css">

	html, body{
		height: 400px;
		margin: 0;
		padding: 0;
	}
</style>
<body>
	<h1>Map Data</h1>
	<div id="map"></div>
	<form method="POST" action="/location">
	<input type="text" name="latitude" placeholder="latitude">
	<input type="text" name="longitude" placeholder="longitude">
	<input type="submit" name="submit">
	</form>
</body>
</html>